
Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Temp/UnityLockfile
Temp/UnityTempFile-123bca6a41ab77c4caa62f491d5613da
Temp/UnityTempFile-ba99c15c4bf17f14bb8071907557d262
Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Temp/UnityVS_obj/Debug/NetConnectTest.CSharp.csproj.CoreCompileInputs.cache
Temp/UnityVS_obj/Debug/NetConnectTest.CSharp.csprojAssemblyReference.cache
